<template name="activities">
  {{#if showActivities}}
    <div class="activities js-sidebar-activities">
      {{!-- We should use Template.dynamic here but there is a bug with
      blaze-components: https://github.com/peerlibrary/meteor-blaze-components/issues/30 --}}
      {{#if $eq mode "board"}}
        {{> boardActivities}}
      {{else}}
        {{> cardActivities}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="boardActivities">
  {{#each activityData in currentBoard.activities}}
    {{> activity activity=activityData card=card mode=mode}}
  {{/each}}
</template>

<template name="cardActivities">
  {{#each activityData in activities}}
    {{> activity activity=activityData card=card mode=mode}}
  {{/each}}
</template>

<template name="activity">
  <div class="activity" data-id="{{activity._id}}">
    {{> userAvatar userId=activity.user._id}}
    <p class="activity-desc">
      <span class="activity-member">
        {{> memberName user=activity.user}}
      </span>

      {{!-- attachment activity ------------------------------------------------- --}}
      {{#if $eq activity.activityType 'deleteAttachment'}}
        {{{_ 'activity-delete-attach' cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'addAttachment'}}
        {{{_ 'activity-attached' attachmentLink cardLink}}}.
        {{#if $neq mode 'board'}}
          {{#if activity.attachment.isImage}}
            <img class="attachment-image-preview" src="{{activity.attachment.url}}">
          {{/if}}
        {{/if}}
      {{/if}}

      {{!-- board activity ------------------------------------------------------ --}}
      {{#if $eq activity.activityType 'createBoard'}}
        {{{_ 'activity-created' boardLabelLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'importBoard'}}
        {{{_ 'activity-imported-board' boardLabelLink sourceLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'addBoardMember'}}
        {{{_ 'activity-added' memberLink boardLabelLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'removeBoardMember'}}
        {{{_ 'activity-excluded' memberLink boardLabelLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'createCard'}}
        {{#if $eq mode 'card'}}
          {{{_ 'activity-added' cardLabelLink (sanitize activity.listName)}}}.
        {{else}}
          {{{_ 'activity-added' cardLabelLink boardLabelLink}}}.
        {{/if}}
      {{/if}}

      {{#if $eq activity.activityType 'importCard'}}
        {{{_ 'activity-imported' cardLink boardLabelLink sourceLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'moveCard'}}
        {{{_ 'activity-moved' cardLabelLink (sanitize activity.oldList.title) (sanitize activity.list.title)}}}.
      {{/if}}

      {{#if $eq activity.activityType 'moveCardBoard'}}
        {{{_ 'activity-moved' cardLink (sanitize activity.oldBoardName) (sanitize activity.boardName)}}}.
      {{/if}}

      {{#if $eq activity.activityType 'archivedCard'}}
        {{{_ 'activity-archived' cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'restoredCard'}}
        {{{_ 'activity-sent' cardLink boardLabelLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'addChecklist'}}
        {{{_ 'activity-checklist-added' cardLink}}}.
        {{#if $eq mode 'card'}}
          <div class="activity-checklist">
            {{> viewer}}
              {{activity.checklist.title}}
          </div>
        {{else}}
          <a class="activity-checklist" href="{{ activity.card.originRelativeUrl }}">
            {{> viewer}}
              {{activity.checklist.title}}
          </a>
        {{/if}}
      {{/if}}

      {{#if $eq activity.activityType 'removedChecklist'}}
        {{{_ 'activity-checklist-removed' cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'completeChecklist'}}
        {{{_ 'activity-checklist-completed' (sanitize activity.checklist.title) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'uncompleteChecklist'}}
        {{{_ 'activity-checklist-uncompleted' (sanitize activity.checklist.title) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'checkedItem'}}
        {{{_ 'activity-checked-item' (sanitize checkItem) (sanitize activity.checklist.title) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'uncheckedItem'}}
        {{{_ 'activity-unchecked-item' (sanitize checkItem) (sanitize activity.checklist.title) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'addChecklistItem'}}
        {{{_ 'activity-checklist-item-added' (sanitize activity.checklist.title) cardLink}}}.
        <div class="activity-checklist" href="{{ activity.card.originRelativeUrl }}">
          {{> viewer}}
            {{activity.checklistItem.title}}
        </div>
      {{/if}}

      {{#if $eq activity.activityType 'removedChecklistItem'}}
        {{{_ 'activity-checklist-item-removed' (sanitize activity.checklist.title) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'deleteComment'}}
        {{{_ 'activity-deleteComment' activity.commentId}}}.
      {{/if}}

      {{#if $eq activity.activityType 'editComment'}}
        {{{_ 'activity-editComment' activity.commentId}}}.
      {{/if}}

      {{#if $eq activity.activityType 'addComment'}}
        {{{_ 'activity-on' cardLink}}}
        <a class="activity-comment" href="{{ activity.card.originRelativeUrl }}">
          {{> viewer}}
            {{activity.comment.text}}
        </a>
      {{/if}}

      {{#if $eq activity.activityType 'a-receivedAt'}}
        {{{_ 'activity-receivedDate' (sanitize receivedDate) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'a-startAt'}}
        {{{_ 'activity-startDate' (sanitize startDate) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'a-dueAt'}}
        {{{_ 'activity-dueDate' (sanitize dueDate) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'a-endAt'}}
        {{{_ 'activity-endDate' (sanitize endDate) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'createCustomField'}}
        {{_ 'activity-customfield-created' customField}}.
      {{/if}}

      {{#if $eq activity.activityType 'setCustomField'}}
        {{{_ 'activity-set-customfield' (sanitize lastCustomField) (sanitize lastCustomFieldValue) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'unsetCustomField'}}
        {{{_ 'activity-unset-customfield' (sanitize lastCustomField) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'addedLabel'}}
        {{{_ 'activity-added-label' (sanitize lastLabel) cardLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'removedLabel'}}
        {{{_ 'activity-removed-label' (sanitize lastLabel) cardLink}}}.
      {{/if}}

      {{#if $neq mode 'card'}}
        {{#if $eq activity.activityType 'createList'}}
          {{{_ 'activity-added' (sanitize listLabel) boardLabelLink}}}.
        {{/if}}

        {{#if $eq activity.activityType 'importList'}}
          {{{_ 'activity-imported' (sanitize listLabel) boardLabelLink sourceLink}}}.
        {{/if}}

        {{#if $eq activity.activityType 'removeList'}}
          {{{_ 'activity-removed' (sanitize activity.title) boardLabelLink}}}.
        {{/if}}

        {{#if $eq activity.activityType 'archivedList'}}
          {{_ 'activity-archived' (sanitize listLabel)}}.
        {{/if}}

        {{#if $eq activity.activityType 'changedListTitle'}}
          {{_ 'activity-changedListTitle' (sanitize listLabel) boardLabelLink}}
        {{/if}}
      {{/if}}

      {{#if $eq activity.activityType 'joinMember'}}
        {{#if $eq user._id activity.member._id}}
          {{{_ 'activity-joined' cardLink}}}.
        {{else}}
          {{{_ 'activity-added' memberLink cardLink}}}.
        {{/if}}
      {{/if}}

      {{#if $eq activity.activityType 'unjoinMember'}}
        {{#if $eq user._id activity.member._id}}
          {{{_ 'activity-unjoined' cardLink}}}.
        {{else}}
          {{{_ 'activity-removed' memberLink cardLink}}}.
        {{/if}}
      {{/if}}

      {{#if $eq activity.activityType 'createSwimlane'}}
        {{{_ 'activity-added' (sanitize activity.swimlane.title) boardLabelLink}}}.
      {{/if}}

      {{#if $eq activity.activityType 'archivedSwimlane'}}
        {{{_ 'activity-archived' (sanitize activity.swimlane.title)}}}.
      {{/if}}

      {{#if currentData.timeKey}}
        {{_ activity.activityType}}
        {{" "}}
        <i title="{{currentData.timeValue}}" class="activity-meta">{{moment currentData.timeValue 'LLL'}}</i>
        {{#if currentData.timeOldValue}}
          {{" "}}
          {{{_ "previous_as"}}}
          {{" "}}
          <i title="{{currentData.timeOldValue}}" class="activity-meta">{{moment currentData.timeOldValue 'LLL'}}</i>
        {{/if}}
        {{" @"}}
      {{else if currentData.timeValue}}
        {{_ activity.activityType currentData.timeValue}}
      {{/if}}

      <div title="{{activity.createdAt}}" class="activity-meta">{{moment activity.createdAt}}</div>
    </p>
  </div>
</template>
