
<template name="checklistTriggers">
  <div class="trigger-item">
    <div class="trigger-content">
      <div class="trigger-text">
        {{_'r-when-a-checklist'}}
      </div>
      <div class="trigger-dropdown">
        <select id="gen-check-action">
          <option value="created">{{_'r-added-to'}}</option>
          <option value="removed">{{_'r-removed-from'}}</option>
        </select>
      </div>
      <div class="trigger-text">
        {{_'r-a-card'}}
      </div>
      <div class="trigger-button trigger-button-person js-show-user-field">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-details hide-element">
        <div class="trigger-text">
          {{_'r-by'}}
        </div>
        <div class="trigger-dropdown">
          <input class="user-name" type="text" placeholder="{{_'username'}}">
        </div>
      </div>
    </div>
    <div class="trigger-button js-add-gen-check-trigger js-goto-action">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div class="trigger-item">
    <div class="trigger-content">
      <div class="trigger-text">
        {{_'r-when-the-checklist'}}
      </div>
      <div class="trigger-dropdown">
        <input id="check-name" type="text" placeholder="{{_'r-name'}}">
      </div>
      <div class="trigger-text">
        {{_'r-is'}}
      </div>
      <div class="trigger-dropdown">
        <select id="spec-check-action">
          <option value="created">{{_'r-added-to'}}</option>
          <option value="removed">{{_'r-removed-from'}}</option>
        </select>
      </div>
      <div class="trigger-text">
        {{_'r-a-card'}}
      </div>
      <div class="trigger-button trigger-button-person js-show-user-field">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-details hide-element">
        <div class="trigger-text">
          {{_'r-by'}}
        </div>
        <div class="trigger-dropdown">
          <input class="user-name" type="text" placeholder="{{_'username'}}">
        </div>
      </div>
    </div>
    <div class="trigger-button js-add-spec-check-trigger js-goto-action">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div class="trigger-item">
    <div class="trigger-content">
      <div class="trigger-text">
        {{_'r-when-a-checklist'}}
      </div>
      <div class="trigger-dropdown">
        <select id="gen-comp-check-action">
          <option value="completed">{{_'r-completed'}}</option>
          <option value="uncompleted">{{_'r-made-incomplete'}}</option>
        </select>
      </div>
      <div class="trigger-button trigger-button-person js-show-user-field">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-details hide-element">
        <div class="trigger-text">
          {{_'r-by'}}
        </div>
        <div class="trigger-dropdown">
          <input class="user-name" type="text" placeholder="{{_'username'}}">
        </div>
      </div>
    </div>
    <div class="trigger-button js-add-gen-comp-trigger js-goto-action">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div class="trigger-item">
    <div class="trigger-content">
      <div class="trigger-text">
        {{_'r-when-the-checklist'}}
      </div>
      <div class="trigger-dropdown">
        <input id="spec-comp-check-name" type="text" placeholder="{{_'r-name'}}">
      </div>
      <div class="trigger-text">
        {{_'r-is'}}
      </div>
      <div class="trigger-dropdown">
        <select id="spec-comp-check-action">
          <option value="completed">{{_'r-completed'}}</option>
          <option value="uncompleted">{{_'r-made-incomplete'}}</option>
        </select>
      </div>
      <div class="trigger-button trigger-button-person js-show-user-field">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-details hide-element">
        <div class="trigger-text">
          {{_'r-by'}}
        </div>
        <div class="trigger-dropdown">
          <input class="user-name" type="text" placeholder="{{_'username'}}">
        </div>
      </div>
    </div>
    <div class="trigger-button js-add-spec-comp-trigger js-goto-action">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div class="trigger-item">
    <div class="trigger-content">
      <div class="trigger-text">
        {{_'r-when-a-item'}}
      </div>
      <div class="trigger-dropdown">
        <select id="check-item-gen-action">
          <option value="checked">{{_'r-checked'}}</option>
          <option value="unchecked">{{_'r-unchecked'}}</option>
        </select>
      </div>
      <div class="trigger-button trigger-button-person js-show-user-field">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-details hide-element">
        <div class="trigger-text">
          {{_'r-by'}}
        </div>
        <div class="trigger-dropdown">
          <input class="user-name" type="text" placeholder="{{_'username'}}">
        </div>
      </div>
    </div>
    <div class="trigger-button js-add-gen-check-item-trigger js-goto-action">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div class="trigger-item">
    <div class="trigger-content">
      <div class="trigger-text">
        {{_'r-when-the-item'}}
      </div>
      <div class="trigger-dropdown">
        <input id="check-item-name" type="text" placeholder="{{_'r-name'}}">
      </div>
      <div class="trigger-text">
        {{_'r-is'}}
      </div>
      <div class="trigger-dropdown">
        <select id="check-item-spec-action">
          <option value="checked">{{_'r-checked'}}</option>
          <option value="unchecked">{{_'r-unchecked'}}</option>
        </select>
      </div>
      <div class="trigger-button trigger-button-person js-show-user-field">
        <i class="fa fa-user"></i>
      </div>
      <div class="user-details hide-element">
        <div class="trigger-text">
          {{_'r-by'}}
        </div>
        <div class="trigger-dropdown">
          <input class="user-name" type="text" placeholder="{{_'username'}}">
        </div>
      </div>
    </div>
    <div class="trigger-button js-add-spec-check-item-trigger js-goto-action">
      <i class="fa fa-plus"></i>
    </div>
  </div>
</template>
