<template name="boardList">
  <div class="wrapper">
    <ul class="AllBoardTeamsOrgs">
      <li class="AllBoardTeams">
        {{#if userHasTeams}}
          <select class="js-AllBoardTeams" id="jsAllBoardTeams" multiple>
            <option value="-1">{{_ 'teams'}} :</option>
            {{#each teamsDatas}}
              <option value="{{teamId}}">{{_ teamDisplayName}}</option>
            {{/each}}
          </select>
        {{/if}}
      </li>

      <li class="AllBoardOrgs">
        {{#if userHasOrgs}}
          <select class="js-AllBoardOrgs" id="jsAllBoardOrgs" multiple>
            <option value="-1">{{_ 'organizations'}} :</option>
            {{#each orgsDatas}}
              <option value="{{orgId}}">{{orgDisplayName}}</option>
            {{/each}}
          </select>
        {{/if}}
      </li>

      <li class="AllBoardBtns">
        <div class="AllBoardButtonsContainer">
          {{#if userHasOrgsOrTeams}}
            <i class="fa fa-filter"></i>
            <input id="filterBtn" type="button" value="{{_ 'filter'}}" />
            <input id="resetBtn" type="button" value="{{_ 'filter-clear'}}" />
          {{/if}}
        </div>
      </li>
    </ul>

    <ul class="board-list clearfix js-boards">
      <li class="js-add-board">
        <a class="board-list-item label" title="{{_ 'add-board'}}">
          {{_ 'add-board'}}
        </a>
      </li>
      {{#each board in boards}}
        <li class="{{board._id}} {{#if board.isStarred}}starred{{/if}} {{board.colorClass}} js-board">
          {{> boardListItem board=board}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="boardListItem">
  {{#if board.isInvited}}
    <div class="board-list-item">
      <span class="details">
        <span class="board-list-item-name">{{board.title}}</span>
        <i class="fa js-star-board fa-star{{#if board.isStarred}} is-star-active{{else}}-o{{/if}}" title="{{_ 'star-board-title'}}"></i>
        <p class="board-list-item-desc">{{_ 'just-invited'}}</p>
        <button class="js-accept-invite primary">{{_ 'accept'}}</button>
        <button class="js-decline-invite">{{_ 'decline'}}</button>
      </span>
    </div>
  {{else}}
    <a class="js-open-board board-list-item" href="{{pathFor 'board' id=board._id slug=board.slug}}">
      <span class="details">
        <span class="board-list-item-name" title="{{_ 'board-drag-drop-reorder-or-click-open'}}">
          {{board.title}}
        </span>
        {{#unless currentSetting.hideBoardMemberList}}
          {{#if board.allowsBoardMemberList}}
            <div class="minicard-members">
              {{#each boardMembers board._id}}
                <a class="name">
                  {{> userAvatar userId=member noRemove=true}}
                </a>
              {{/each}}
            </div>
          {{/if}}
        {{/unless}}
        {{#unless currentSetting.hideCardCounterList}}
          {{#if board.allowsCardCounterList}}
            <div class="minicard-lists flex flex-wrap">
              {{#each boardLists board._id}}
                <div class="item">
                  {{list}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/unless}}
        <i class="fa js-star-board {{starClass}}" title="{{_ 'star-board-title'}}"></i>
        <p class="board-list-item-desc">
          {{board.description}}
        </p>
        {{#if board.hasSpentTimeCards}}
          <i class="fa js-has-spenttime-cards {{spentTimeClass}}" title="{{spentTimeTitle}}"></i>
        {{/if}}
        {{#if isTouchScreenOrShowDesktopDragHandles}}
          <i class="fa board-handle fa-arrows" title="{{_ 'drag-board'}}"></i>
        {{else}}
          {{#if isSandstorm}}
            <i class="fa js-clone-board fa-clone" title="{{_ 'duplicate-board'}}"></i>
            <i class="fa js-archive-board fa-archive" title="{{_ 'archive-board'}}"></i>
          {{else}}
            {{#if isAdministrable}}
              <i class="fa js-clone-board fa-clone" title="{{_ 'duplicate-board'}}"></i>
              <i class="fa js-archive-board fa-archive" title="{{_ 'archive-board'}}"></i>
            {{else}}
              {{#if currentUser.isAdmin}}
                <i class="fa js-clone-board fa-clone" title="{{_ 'duplicate-board'}}"></i>
                <i class="fa js-archive-board fa-archive" title="{{_ 'archive-board'}}"></i>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </span>
    </a>
  {{/if}}
</template>

<template name="boardListHeaderBar">
  <h1>{{_ title }}</h1>
</template>
